cogs/configs.py
cogs/configs_prototype.py
cogs/audio.py
te.txt
cogs/__pycache__/
__pycache__/
data/audio
data/helpdoc
data/NPC
data/map
audio
data/profile/char/GFL_1
data/profile/char/GFL_2
data/profile/char/GFL_3
data/profile/char/GFL_4
data/profile/char/GFL_5
data/profile/char/GFL_6
data/profile/char/GFL_7
data/profile/char/BM_Hostess